body {
    background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
    background-attachment: fixed;
     max-width:100%;
    overflow-x:hidden;
}
.navbar-brand{
	font-family: "Stencil";
}
.row{
	font-family: "Stencil";
}
.affix {
      top:0;
      width: 100%;
      z-index: 9999;
}
.desk{
    background-image: url("footer.jpg");
    width: auto;
    height:100%;
    border: 10px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity :0.8;
    font-family: "Berlin Sans FB Demi";
    color: white;
  }
h1{
  text-shadow: 2px 2px red;
  text-decoration: overline;
  text-align: justify;
}
h2{
  font-family: "Cooper Black";
  text-shadow: 2px 2px black;
  color: white;
  text-align: justify;
}
.imge{
  border: 10px solid black;
}
.footer-classic a{
    color: #ffffff;

}
.logo{
  margin: 25px 50px 50px 25px;
}
.contact-list{
  font-family: "calibri";
}
.context-dark{
    color: rgba(255, 255, 255, 0.8);
    background-image: url("footer.jpg");
}