body {
    background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
    background-attachment: fixed;
    max-width:100%;
    overflow-x:hidden;
}
h1{
	text-shadow: 2px 2px red;
	text-decoration: overline;
}
h2{
	font-family: "Cooper Black";
	text-shadow: 2px 2px red;
	color: white;
	border-style: outset;
	border-style: solid;
    border-color: red;
	background-color: black;
}
h3{
	font-family: "Stencil";
	color: white;
	background-color: black;
	border-style: outset;
	border-style: solid;
    border-color: black;
    width: 637px;
}
.navbar-brand{
	font-family: "Stencil";
}
.row{
	font-family: "Stencil";
}
#kiri
{
width:50%;
height:auto;
float:left;
background-image: url("footer.jpg");
border: 10px solid black;
padding: 10px;
margin-left: auto;
margin-right: auto;
}
#kanan
{
width:50%;
height:auto;
float:right;
background-color: white;
border: 10px solid black;
padding: 10px;
margin-left: auto;
margin-right: auto;
opacity :0.8;
}
.context-dark{
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a{
    color: #ffffff;

}
.logo{
	margin: 47px 50px 50px 50px;
}
.contact-list{
	font-family: "calibri";
}
input[type="text"]
{
	min-width: 10px;
	max-width: 500px;
	width :100%;
	height : 100%;
}
input[type="email"]
{
	min-width: 10px;
	max-width: 500px;
	width :100%;
	height : 100%;
}
input[type="password"]
{
	min-width: 10px;
	max-width: 500px;
	width :100%;
	height : 100%;
}
input[type="submit"]
{
	min-width: 10px;
	max-width: 500px;
	width :100%;
	height : 100%;
}
